{% extends 'layouts/admin/index.html' %} 
{% from 'macros/table.html' import render_table %} 

{% block title %} Admin - Post {% endblock %} 
{% block header %}
<h1 class="h4">Admin: Post</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="{{url_for('admin.post_index')}}" class="btn btn-sm btn-outline-secondary">Back</a>
      <a href="{{url_for('admin.post_update',id=post['id'] )}}" class="btn btn-sm btn-secondary">Edit</a>
    </div>
  </div>
{% endblock %} 


{% block content %}
<div class="col">
    <div class="card-deck">
        <div class="card mb-3" style="width: 100%">
            <h5 class="card-header">Post Info</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>ID</strong> {{post["id"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Author</strong> {{post["username"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Created At</strong> {{post["created"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Position</strong> {{post["post_position"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Visible</strong> {{post["visible"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Slug</strong> {{post["slug"]}}</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3" style="width: 100%">
            <h5 class="card-header">Menu</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Name</strong> {{post["menu_name"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Position</strong> {{post["menu_position"]}}</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Visible</strong> {{post["menu_visibility"]}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="width: 100%">
        <h5 class="card-header">Content</h5>
        <div class="card-body" style="padding:10px; width:100%;min-height:100px;">
           
                <code style="background-color:antiquewhite;padding:10px;">
                    {{post['post']}}
                </code>
               
        </div>
    </div>
</div>
{% endblock %}