@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-VariableFont_wght.ttf');
}

* {
    font-family: 'Roboto Mono', monospace;
    /* font-size: 15px; */
    letter-spacing: -.055rem;
}

body {
    font-size: 1rem;
}

.content {
    position: inherit;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* 
* Box with arrows to show steps in admin panel 
*/

.step-box,
.final-step-box {
    position: relative;
    background: #6c757d;
    color: #fff;
    border: 3px solid #454b50;
    padding: 15px;
    padding-top: 10px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.step-box:after,
.step-box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.step-box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #6c757d;
    border-width: 27px;
    margin-left: -27px;
}

.step-box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #454b50;
    border-width: 33px;
    margin-left: -33px;
}

.final-step-box {
    background: #04AA6D;
}