<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Asif R. Porosh">
    <title>{% block title %}{% endblock title %} - {{config["SITE_NAME"]}}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom-admin.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon-alt.png')}}">
</head>

<body>
    {% include 'views/admin/layouts/main/navbar_top.html' %}
    <div class="container-fluid">
        <div class="row">
            {% if g.user %} {% include 'views/admin/layouts/main/navbar_left.html' %} {% endif %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    {% block header %}{% endblock header %}
                </div>
                <div class="row content">
                    <div class="col-12">
                        {% include 'views/admin/layouts/main/flash_msg.html' %}
                    </div>
                    <div class="col-12">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </main>
        </div>
    </div>
    {{ bootstrap.load_js() }}
    <script src="{{url_for('static', filename='js/feather.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            feather.replace();
        });
    </script>
    {% block tail %} {% endblock tail %}
</body>

</html>