<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">{{config["SITE_NAME"]}}</span>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    {% if g.user %}
    <ul class="navbar-nav px-3 mr-xs-auto ml-md-auto ">
        <li class="nav-item text-nowrap">
            <span class="badge badge-pill1 badge-secondary py-1 px-2">{{ g.user['user_name'] }}</span>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav px-3 ml-auto">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
    </ul>
    {% endif %}
</nav>