{% extends 'views/admin/layouts/main/index.html' %}
{% from "macros/form_helpers.html" import render_field, render_form %}

{% block title %}
  Admin - Create Post
{% endblock %}

{% block header %}
  <h1 class="h4">Admin: Create Post</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="{{url_for('post.index')}}" class="btn btn-sm btn-outline-secondary">Back</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-10 col-lg-8">
    <form method="POST">
      {{render_form(form, "Save", "Reset")}}
    </form>  
  </div>
{% endblock %}

{% block tail %}
<!-- <script src="{{url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script>
<script>
  $(document).ready(function(){
    tinymce.init({
      selector: '#post',
    });
  })
</script> -->
{% endblock %}